.first-wrap {
  display: flex;
  
/*   flex-wrap: nowrap; */
}

.second-wrap {
  display: flex;
}

.first-item {
  background: lightgreen;
  
}

.second-item {
  align-self: baseline;
  background: pink;
}


.second-wrap {
 background: lightgreen;
 }